@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #7e7e7e;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

body {
  background: gold;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: 80%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  border: none;
  box-shadow: 5px 5px 5px 4px #41414187;
  justify-content: start;
  background: wheat;
  border-radius: 16px;
}

.todo-container button {
  border: none;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.todo-container .item {
  padding: 20px;
  border: none;
  border-bottom: 1px dotted grey;
}

.todo-container .taskContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
}

.todo-container .taskContainer .task {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
  background: url(./more-icon.svg) 98% 50% no-repeat;
  border-bottom: 1px dotted grey;
  padding: 20px;
  transition: all 1s;
}

.todo-container .taskContainer .task:last-child {
  border-bottom: none;
}

.todo-container .taskContainer .checkbox {
  width: 20px;
  height: 20px;
  border: 3px solid grey;
  border-radius: 5px;
}

.todo-container .centered {
  text-align: center;
  color: grey;
  border-bottom: none;
}

.todo-container form {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.todo-container form > * {
  flex: 1;
}

.todo-container form input {
  font-style: italic;
  color: #a8a8a8;
  background: none;
  border: none;
  flex: 30;
}

.todo-container form button {
  border: none;
  background: none;
}

.todo-container input:focus {
  color: #000;
  outline: none;
}

.todo-container .headline {
  background: url(./loop-icon.svg) 98% 50% no-repeat;
}

.todo-container .taskContainer .checked {
  text-decoration: line-through;
}
